<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--
    Fix the problem that notifications cannot be allowed on Android 13 https://github.com/siyuan-note/siyuan/issues/7960
    https://developer.android.google.cn/guide/topics/ui/notifiers/notification-permission?hl=zh-cn
    -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <application
        android:name=".App"
        android:extractNativeLibs="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiYuan"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".BootActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="siyuan" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|uiMode|orientation|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"></activity>

        <service android:name=".KeepLiveService" />
    </application>

</manifest>
